body{
  font-size: 16px;
}

.entity{
  border: 1px solid navy;
  padding: 5px;
  margin: 5px 0;
}

.entity h1,
.entity h2,
.entity h3,
.entity h4{
  border-bottom: 1px solid navy;
}
.description{
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  background-color: rgb(242, 243, 244);
  margin-top: 5px;
  padding-bottom: 5px;
}
.description dl dd {
  margin-left: 1em;
}

h5[aria-expanded=true] .bi-chevron-right {
  display: none !important;
}
h5[aria-expanded=false] .bi-chevron-down {
  display: none !important;
}

/* Custom CSS */
.xml-code {
  font-size: 14px;
  background-color: #f7f7f7;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: min-content;
}

/* Rounded border */
hr.rounded {
  border-top: 1px solid #bbb;
  border-radius: 5px;
}
